# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cypress.io
cypress/reports/
cypress/snapshots/actual/
cypress/snapshots/diff/
cypress/videos/
